* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #010101;
  --text-color: #ffffff;
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: raleway_f, sans-serif;
}
