* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #010101;
  --text-color: #e7e7e0;
  --shadow-color: #9e7d35;
  --index: calc(1vw + 1vh);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: raleway_f, sans-serif;
}

.main-header {
  position: relative;
}

.main-header::after {
  content: "";
  position: absolute;
  bottom: calc(var(--index) * -4.5);
  z-index: 5;

  width: 100%;
  height: calc(var(--index) * 10);

  background-image: url(../img/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.layers {
  position: relative;

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  overflow: hidden;
}

.layers__header {
  z-index: 1;

  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 0 15px var(--shadow-color);
  color: var(--text-color);

  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
}

.layers__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 2.25);
}

.layers__caption {
  margin-top: calc(var(--index) * -0.75);
  font-size: calc(var(--index) * 1.175);
  letter-spacing: calc(var(--index) / 3.5);
}

.layer {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;

  will-change: transform;
}

.layers__base {
  z-index: 0;
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}

.layers__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__front {
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.main-article {
  --main-article-transform: translate3d(0, calc(var(--scrollTop) / -10), 0);
  position: relative;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  line-height: calc(var(--index) * 1.6);
  color: var(--text-color);

  background-size: cover;
  background-position: center;
}

.main-article__header {
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  text-transform: uppercase;

  transform: var(--main-article-transform);
  will-change: transform;
}

.main-article__par {
  margin-top: calc(var(--index) / 1.25);

  max-width: calc(var(--index) * 30);

  font-size: calc(var(--index) * 0.9);

  transform: var(--main-article-transform);
  will-change: transform;
}

.signature {
  position: absolute;
  bottom: calc(var(--index) * 2.5);

  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 37.5);

  opacity: 0.45;
}
